/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/session.*
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
/newsticker
\#*
/elpa
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/anaconda-mode/
/.historian
/.uptimes.el
/rake.cache
/plantuml.jar
/.lsp-session-v1
/smex-items
/eln-cache/

## kyt
flycheck_*
# personal/packages/fcitx/
/abbrev_defs
/personal/backup/
/projectile.cache
/semanticdb/
/cnfonts/cnfonts.conf
/personal/bookmarks.el
/personal/packages/anki-org/*.org
/request/
/magithub
/srecode-map.el
/*.stackdump
/.uptimes*.el
/*.uptimes
/history-NS*
.cache/
/forge-database.sqlite
/transient
/.emacs*.desktop
/*.recentf
/server/
